#todoList li div.todo-name {
    cursor: pointer;
}
#todoList li.completed div.todo-name {
    text-decoration: line-through;
}
#todoList li .btn-danger {
    display: none;
}
#todoList li.destroy .btn-danger {
    display: inline-block;
}
#footer .btn.btn-link {
    height: 20px;
    margin: 0px;
    padding: 0px;
}
#footer .navbar-text {
    padding: 0px;
    margin: 0px;
}